<div class="container">

    <hinv-header></hinv-header>
    <hinv-header></hinv-header>
    <hinv-header></hinv-header>

    <button (click)="toggle()">Toggle</button>

    {{ rooms?.availableRooms ?? 'No rooms' }}

    <div *ngIf="hideRooms">
        <hinv-rooms-list (selectedRoom)="selectRoom($event)" [title]="title" [rooms]="roomList"></hinv-rooms-list>
    </div>

    <div *ngIf="selectedRoom">
        {{selectedRoom | json}}
    </div>

    <div>
        <button class="btn btn-success" (click)="addRoom()">Add Room</button>
    </div>

    <div [ngStyle]="{color:rooms.availableRooms > 0? 'green': 'red' }" [hidden]="hideRooms">
        Number of Rooms:
        <div [innerHTML]="numberOfRooms"></div>
    </div>
</div>