<p>Welcome to {{hotelName}}</p>

<button (click)="toggle()">Toggle</button>

{{ rooms?.availableRooms ?? 'No rooms' }}

<div *ngIf="rooms.availableRooms > 0">
    Room List:
    {{roomList | json}}
    <table>
        <thead>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Amenities</th>
            <th>Checkin Time</th>
            <th>Checkout Time</th>
            <th>Rating</th>
        </thead>
        <tr [ngClass]="e? 'even' : 'odd'"
            *ngFor="let room of roomList | slice: 0:3; let e = even; let o=odd; let i=index">
            <th>{{i | percent}}</th>
            <th>{{e ? "Even" : "Odd"}}</th>
            <th>{{room.roomNumber}}</th>
            <th>{{room.roomType}}</th>
            <th>{{room.price | currency: 'EUR'}}</th>
            <th>{{room.amenities | titlecase}}</th>
            <th>{{room.checkinTime | date: 'short'}}</th>
            <th>{{room.checkoutTime | date: 'dd/MMM/yyy'}}</th>
            <th>{{room.rating | number: '1.2-2'}}</th>
        </tr>
    </table>
</div>

<div [ngStyle]="{color:rooms.availableRooms > 0? 'green': 'red' }" [hidden]="hideRooms">
    Number of Rooms:
    <div [innerHTML]="numberOfRooms"></div>
</div>